body {
    color: #222222;
    background-color: #e0ebf5;
    font-family: Arial, sans-serif;
    font-size:14px;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: none;
}
body.blurry {
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: #fff 0  0 25px;
}

a {
    color: #0188cc;
}
a.about-link {
    color: black
}
.textColumn, .linksColumn {
    padding: 6em;
}
.textColumn {
    background-color: transparent;
}

.linksColumn {
    background-color: transparent;
}
.modal-gameboi {
    display: block;
    margin:auto;
}
h1.name {
    font-size: 500%;
    font-weight: normal;
    margin-bottom: 0;
    color: #375eab;
}
h2.lead {
    font-size: 200%;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}
ul {
    padding-left: 1em;
    margin: 0;
}
li {
    margin: 1em 0;
}

.split-background {
    background-image: linear-gradient(to right, #e0ebf5, #e0ebf5 50%, white 50%, white);
    margin-left: 1px;
}

#portfolio, #about, .welcome {
    min-height: 100vh;
}
header.code-background {
    background-image: url("/public/images/coding_blur.png");
}
img.gopher {
    height: 50px;
}
h2.portfolio-head {
    text-align: center;
}

.portfolio-caption {
    text-align: center;
}

.portfolio-item {
    padding: 100px 0;
}